<div class="doggy fill">
  <img
    src="{{ site.baseurl }}/assets/images/doggy_running.gif"
    alt="Gif of small pixel dog running back and forth along the top of the page. His name is Byte."
  />
</div>
<nav>
  <a class="site-title" href="{{ site.baseurl }}/"><h2>Harry Herskowitz</h2></a>
  <small class="site-tag">Adventures in Software Development</small>
  <div class="nav-links">
    <a
      href="https://github.com/harry-herskowitz/"
      target="_blank"
      rel="noopener noreferrer"
      >Github
    </a>
    <a
      href="https://www.linkedin.com/in/haroldherskowitz/"
      target="_blank"
      rel="noopener noreferrer"
      >LinkedIn
    </a>
    <a href="https://prismocosm.com" target="_blank" rel="noopener noreferrer"
      >Prismocosm
    </a>
    <a href="https://tapedrop.com" target="_blank" rel="noopener noreferrer"
      >Tapedrop
    </a>
  </div>
</nav>
