body{
  font-size: 18px;
  background-color: var(--primary-color);
}

pre {
  white-space: pre-wrap;
  tab-size: 2;
}

.page-wrapper{
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.site-title{
  text-align: center;
}

nav {
  margin: 0 5px;
  padding: 10px;
  background-color: var(--secondary-color);
}

.site-title h2{
  margin: 15px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin: auto;
}

.doggy {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.doggy img {
  flex-shrink: 0;
  max-width: 150%;
}

.hero {
  margin: 0 5px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .hero {
    height: 275px;
  }
}

.hero img {
  flex-shrink: 0;
  min-width: 100%;
  max-width: 130%;
  min-height: 100%;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.postcard {
  display: block;
}

.postcard {
  width: calc(50%);
}

@media screen and (max-width: 1100px) {
  .postcard {
    width: 100%;
  }
}

.postcard .post-title,
.postcard .post-date {
  margin: 1.5rem;
}

.card {
  position: relative;
  margin: 5px;
  overflow: hidden;
  background-color:  var(--secondary-color);
}

.card .image-container {
  margin: 0;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card img {
  flex-shrink: 0;
  min-width: 100%;
  max-width: 130%;
  min-height: 100%;
}

#post {
  margin: 0 5px;
}

#post img {
  display: block;
  margin: auto;
  width: 50%;
}

@media screen and (max-width: 1100px) {
  #post img {
    width: 100%;
  }
}

.pagination {
  text-align: center;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 10px;
}

/* variables */

:root {
  --primary-color: floralwhite;
  --secondary-color: lavender;
}