body {
  font-size: 18px;
  background-color: var(--primary-color);
}

pre {
  white-space: pre-wrap;
  tab-size: 2;
}

.page-wrapper {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

nav {
  margin: 0 5px;
  background-color: var(--secondary-color);
  overflow: hidden;
}

.site-title {
  text-align: center;
}

.doggy {
  margin: 3px 5px -6px 5px;
}

@media screen and (max-width: 460px) {
  .doggy {
    margin-bottom: -4px;
  }
}

.doggy img {
  max-width: 170%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 5px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.hero {
  margin: 0 5px;
  height: 450px;
}

@media screen and (max-width: 700px) {
  .hero {
    height: 275px;
  }
}

.hero img {
  max-width: 130%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.postcard {
  display: block;
  width: calc(50%);
}

@media screen and (max-width: 1100px) {
  .postcard {
    width: 100%;
  }
}

.card {
  margin: 5px;
  overflow: hidden;
  background-color: var(--secondary-color);
}

.card .image-container {
  height: 250px;
}

.card img {
  max-width: 130%;
}

.card .post-title,
.card .post-date {
  margin: 1.5rem;
}

#post {
  margin: 0 5px;
}

#post img {
  display: block;
  margin: auto;
  width: 50%;
}

@media screen and (max-width: 1100px) {
  #post img {
    width: 100%;
  }
}

.pagination {
  text-align: center;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 10px;
}

:root {
  --primary-color: floralwhite;
  --secondary-color: lavender;
}
